.container {
  height: 400px;
  width:700px;
  position: relative;
  

}

.vertical-center {
  margin: 0;
  width:500px;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.ng-invalid:not(form).ng-touched  {
  border-left: 5px solid #a94442; /* red */
}

