.container {
  height: 400px;
  width:450px;
  left: 750px;
  top: 110px;
  position: absolute;
  border: 3px solid #73AD21;
  
}

.vertical-center {
  margin: 0;
  width:400px;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.ng-invalid:not(form).ng-touched  {
  border-left: 5px solid #a94442; /* red */
}

